html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
#source-code {
    text-align: center;
    background-color: gainsboro;
    height: 40px;
    line-height: 40px;
}
/* -----*/


@media screen and (min-width: 640px){

}